


.main-container .msg-success{
    text-align: center;
    min-height: 200px;
    margin-top: 50px;
}

.main-container .msg-success .icon-success{
    font-size: 400%;
}

.main-container .msg-success h1{
    display: inline-block;
}

.input-error{
    border-color: #eb5e58 !important;
}

.msg-error-form{
    
    color: #eb5e58;
    font-size: 12px;
    
}

.msg-error-form.description{
    min-height: 0px;
}